spring:
  datasource:
    url: jdbc:h2:mem:eventsync;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
    driverClassName: org.h2.Driver
    username: sa
    password:
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  h2:
    console:
      enabled: true
      path: /h2-console

huggingface:
  apiUrl: https://router.huggingface.co/hf-inference/models/cardiffnlp/twitter-roberta-base-sentiment
  apiToken: ${HF_API_TOKEN:dummy-token}

